In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
dates = pd.date_range('20130101', periods=6)

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [6]:
df

                   A         B         C         D
2013-01-01  0.703378 -0.959575 -1.613057 -0.114338
2013-01-02 -0.343408 -0.379881 -0.735925  2.524115
2013-01-03  2.536322 -0.441642 -0.514564 -1.198413
2013-01-04 -1.072813  0.571710 -1.226546 -1.505016
2013-01-05 -0.389734  1.211053 -1.325043 -0.724410
2013-01-06 -0.326073 -0.152085  0.129887 -0.766101